/* App.css */
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: inherit; /* ✅ html의 font 설정을 그대로 상속 */
}

html {
  font-size: 24px; /* 1rem = 24px */
  font-family: 'Pretendard Variable', sans-serif;
}

.app-wrapper {
  padding-top: 112px;
}

/* 개발용 가이드라인 */
.page-container::before,
.page-container::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: red;
  z-index: 9999;
}

.page-container::before {
  left: 0;
}

.page-container::after {
  right: 0;
}

.page-container {
  position: relative; /* 가이드라인 절대 위치 기준용 */
}

/* 공통 레이아웃 클래스 */
.page-container {
  margin: 0 200px;
}

@media screen and (max-width: 1024px) {
  .page-container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    margin: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .page-container {
    margin: 0 20px;
  }
}
