*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;           /* 수평 스크롤 잠금 */
  overscroll-behavior-x: none;  /* 수평 바운스 방지 */
  touch-action: pan-y;          /* 수직 스크롤만 허용 */
}

html {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400; /* Medium */
  font-variation-settings: 'wght' 400; /* 💡 브라우저 호환성 보완 */
  font-size: 22px; /* 필요에 따라 조절 가능 */
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
   overflow-y: scroll;
}

/* 개발용 가이드라인 */
.page-container::before,
.page-container::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: red;
  z-index: 9999;
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  border-left: 4px solid #ff4081;
  padding-left: 10px;
}

.page-container::before {
  left: 0;
}

.page-container::after {
  right: 0;
}

.page-container {
  position: relative; /* 가이드라인 절대 위치 기준용 */
}

/* 공통 레이아웃 클래스 */
.page-container {
  margin: 0 200px;
}

@media screen and (max-width: 1024px) {
  .page-container {
    margin: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .page-container {
    margin: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .page-container {
    margin: 0 20px;
  }
}
